#root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
    background-color: #503f2c;
    background-blend-mode: soft-light;
    background-image: url("./assets/images/burlap.jpg");
}


html {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.mainWrapper {
    background-color: white;
    margin-bottom: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.msgWrapper{
    opacity: 7;
}

.mainRow {
    margin-bottom: 0;
}

footer {
    height: 10vh;
    background-image: url("../src/assets/images/cherry4.jpg");
    background-position-y:99%;
}

.mainWrapper.socialWrapper{
    background-color: rgba(143, 119, 74, 0.808);
    color: white;
}

@media only screen and (min-width: 601px) {
    .invRow {
        margin-right: auto;
        margin-left: auto;
        width: 75vw;
    }
  }