/* body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
} */

#root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
    background-color: #503f2c;
    background-blend-mode: soft-light;
    background-image: url("./assets/images/burlap.jpg");
}

.main-wrapper {
    overflow: auto;
    margin-top: 15px;
    height: "75vh" 
}

html {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.mainWrapper {
    background-color: white;
    margin-bottom: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
/* 
.roastWrapper {
    padding: 1.5em;
    background-color: white;
    margin-bottom: 0;
}

.inventoryWrapper {
    background-color: white;
    margin-bottom: 0;
    padding-bottom: 1em;
} */

.msgWrapper{
    opacity: 7;
}

.mainRow {
    margin-bottom: 0;
}

footer {
    height: 10vh;
    background-image: url("../src/assets/images/cherry4.jpg");
    background-position-y:99%;
}
