.msgTitle {
    margin-top: 2em;
}
.collection .collection-item{
    background-color: transparent;
}

.collection-item {
    border-width: 0 2px 0 0;
    border: solid white;
    color: white;
    height: 2em;
}

.collection {
    background-image: url("../../assets/images/cherrybanner.JPG");
    background-size: cover;
    background-position-x: center;
    background-position-y: 53%;
}

h3 {
    color: white;  /* Fallback: assume this color ON TOP of image */
    /* background: url("../../assets/images/cherry4.jpg") no-repeat;
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: white; */
    font-size: 57px;
 }