.recentTable {
    min-width: 20%;
    margin-left: 10%;
    border-radius: 15px;
    border: 2px solid white;
    background-color: rgba(66, 145, 66, 0.767);
    color: white;
    margin-bottom: 1em;
    background-image: url('../../assets/images/cherrybanner.JPG')!important;
    background-blend-mode: soft-light;
}

hr{
    height: 1px;
    background-color: white;
    border: 1px 1px 0 solid white;
}