.navbtn {
    width: 10rem;
    height: 4.0em;
    margin-bottom: 15px;
    margin-left: .5em;
    margin-right: .5em;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: .15em;
}

.sidenav {
    background-image: url("../../assets/images/cherry.JPG");

    background-color: #448a44af!important;
}

.navLinkContainer {
    height: 3em;
    border-width: 0 1px 0 0;
    border-color: white;
    border-style: solid;
}

.nav-wrapper {
    background-image: url("../../assets/images/cherry.JPG");
}

#mobileMenuLink {
    background-color: transparent;
    color: white;
}